{
  "env": {
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "root": true,
  "rules": {
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_"
      }
    ],
    "no-useless-escape": "off",
    "prettier/prettier": "warn"
  }
}