// https://github.com/pmarsceill/just-the-docs/blob/master/_sass/custom/custom.scss

// $body-background-color: #303030;
// $sidebar-color: #424242;
// $search-background-color: #ffffff;
// $table-background-color: #303030;
// $code-background-color: #303030;

// $body-text-color: #ffffff;
// $body-heading-color: #ffffff;
// $search-result-preview-color: #424242;
// $nav-child-link-color: #ffffff;
// $link-color: #ff5722;
// $btn-primary-color: #ff5722;
// $base-button-color: #303030;

// $border-color: #595959;

$body-background-color: #06070d;
$sidebar-color: #15191f;
$search-background-color: #06070d;
$table-background-color: #06070d;
$code-background-color: #06070d;

$body-text-color: #ffffff;
$body-heading-color: #ffffff;
$search-result-preview-color: #f2f2f2;
$nav-child-link-color: #ffffff;
$link-color: #00e59b;
$btn-primary-color: #00e59b;
$base-button-color: #f2f2f2;

$border-color: #22272b;
