.alert {
    background: #15191f;
    padding: 12px 16px;
    border: 1px solid #22272b;
    border-left: 4px solid #00e59b;
    border-radius: 4px;

    *:first-child {
        margin-top: 0;
    }
}
