fieldset {
    padding: 0 2rem 1rem;
}

legend {
    font-size: 1.5rem;
    padding: 0 1rem;
}

.description {
    font-size: 1.2rem;
}

.browser-style label {
    font-size: 1.25rem;
    line-height: 1.25rem;
}
